<div class="input-group" [formGroup]="form">
    <div class="input-group-prepend" *ngIf="field?.icon">
        <i class="fa fa-key input-group-text" aria-hidden="true"></i>
    </div>
    <input type="password" class="form-control" [formControlName]="field?.name" [placeholder]="field?.placeholder"
        [maxlength]="field?.maxlength" autocomplete="off" appTrim/>
    <div class="input-group-append cursor-pointer" (click)="togglePWD($event)">
        <i class="fa fa-eye input-group-text" aria-hidden="true"></i>
    </div>
</div>