 
	
 
 
    <a routerLink="/assignEmployees" routerLinkActive="active" class="list-group-item text-secondary list-group-item-action bg-light text-capitalize">
        <i class="fa fa-bullseye" aria-hidden="true"></i>
        Allocate Employees to Project
	</a>
	
	<a routerLink="/addTasks" routerLinkActive="active" class="list-group-item text-secondary list-group-item-action bg-light text-capitalize">
        <i class="fa fa-bullseye" aria-hidden="true"></i>
         Add Tasks to Project
    </a>
    
    <a routerLink="/assignTaskToEmployees" routerLinkActive="active" class="list-group-item text-secondary list-group-item-action bg-light text-capitalize">
        <i class="fa fa-bullseye" aria-hidden="true"></i>
         Assign Tasks to Employees
    </a>