
<select (change)="onOptionsSelected($event)" style="margin: 14px;">
	           	<option *ngFor="let i of monthList">{{i.value}}</option>
</select>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-capitalize">Emp Id</th>
                <th scope="col" class="text-capitalize">Emp Name</th>
               
				<th scope="col" class="text-capitalize">Dates Pending</th>
				
				<th scope="col" class="text-capitalize">Status</th>
				 <th scope="col" class="text-capitalize">Link</th>
            </tr>
        </thead>
        <tbody>
          
            <tr *ngFor="let item of list">
			     <td>{{item.empId}}</td>
				 <td>{{item.name}}</td>
				
				 <td>{{item.submittedDate}}</td>
			
				 <td>{{item.status}}</td>
				 <td><a [routerLink]="['/dailyStatus',item.empId]" [state]="{ id:item.empId , selectedMonth:selectedMonth}" routerLinkActive="active">
					Report
				</a></td>
            </tr>
        </tbody>
    </table>
</div>