<div class="sidebar-heading logo logo-img sidebar-img mt-2 mb-5"></div>
<div class="list-group list-group-flush">
    <a routerLink="/dashboard" class="list-group-item list-group-item-action bg-light" routerLinkActive="text-success"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-home" aria-hidden="true"></i>
        Dashboard
    </a>

    <!-- candidates -->
    <a routerLink="/candidates" routerLinkActive="active" class="list-group-item text-secondary list-group-item-action bg-light text-capitalize">
        <i class="fa fa-users" aria-hidden="true"></i>
        candidates
    </a>

    <!-- users -->
    <a routerLink="/users" routerLinkActive="active" class="list-group-item text-secondary list-group-item-action bg-light text-capitalize">
        <i class="fa fa-users" aria-hidden="true"></i>
        users
    </a>

    <!-- roles -->
    <a routerLink="/roles" routerLinkActive="active" class="list-group-item text-secondary list-group-item-action bg-light text-capitalize">
        <i class="fa fa-id-badge" aria-hidden="true"></i>
        roles
    </a>

    <!-- users -->
    <a routerLink="/application-statuses" routerLinkActive="active" class="list-group-item text-secondary list-group-item-action bg-light text-capitalize">
        <i class="fa fa-bullseye" aria-hidden="true"></i>
        Statuses
    </a>

    <a routerLink="/timesheetMain" routerLinkActive="active" class="list-group-item text-secondary list-group-item-action bg-light text-capitalize">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        Timesheet
    </a>

    <a routerLink="/dailyStatusMain" routerLinkActive="active" class="list-group-item text-secondary list-group-item-action bg-light text-capitalize">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        Daily Status
    </a>
    
      <a *ngIf="supervisorState"  routerLink="/taskMain" routerLinkActive="active" class="list-group-item text-secondary list-group-item-action bg-light text-capitalize">
        <i class="fa fa-tasks" aria-hidden="true"></i>
        Task Allocation
    </a>

</div>