<div class="d-flex justify-content-between text-capitalize my-3">
  <div class="h4">
    Add Tasks to Project
  </div>
</div>


 
<div style='float: right'>
<input type="file" (change)="changeListener($event.target.files)" accept=".csv">  
<input type="submit" value="Upload Tasks" (click)='submitFile()' style="width: 116px;">

</div>  

<div class="form-group" style='margin-top: 74px;'>
<form [formGroup]="projectForm">
  <div class="row">
	   <div class="col-sm-4" >
	     <label>Client:</label><br>
	      <select  formControlName="client" (change)="onOptionsSelected()" [(ngModel)]="selectedClient">
					   <option *ngFor="let l of clientList" value="{{l}}">{{l}}</option>
		  </select>
       </div>
       <div class="col-sm-4">
         <label>Project:</label><br>
          <select  formControlName="project" (change)="onOptionsSelected2()" [(ngModel)]="selectedProject" >
					   <option *ngFor="let l of projectList" value="{{l}}">{{l}}</option>
		 </select>
       </div>
       <div class="col-sm-4">
         <label>Sub Project:</label><br>
          <select  formControlName="subProject" [(ngModel)]="selectedSubProject" >
					   <option *ngFor="let l of subProjectList" value="{{l}}">{{l}}</option>
		 </select>
       </div>
  </div>
  
   <div style='overflow: hidden;'>
  <input class="btn btn-sm btn-outline-success"  style="float: right;width: 17%;margin: 29px;" (click)="searchTask()" value = "Search Task"> 
 </div>
 

<div class="row">
  <div class="col-sm-5" *ngIf="activityMap">
    <!-- add field  to add new task -->
    <label>Add Tasks:</label>
    <span class="btn btn-outline-success btn-sm ml-2 rounded-circle" (click)="addremoveFields()">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </span>

    <!-- add multiple tasks as tasks of array -->
    <div formArrayName="tasks" *ngFor="let item of projectForm.get('tasks')['controls']; let i = index;">
      <div [formGroupName]="i" class="form-group-name my-1">
        <div class="form-row">
          <div class="form-group col-md-1">
            <span class="btn btn-outline-danger btn-sm ml-2 rounded-circle" (click)="addremoveFields(i)">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </span>
          </div>
          <div class="form-group col-md-10">
            <input class="form-control" autocomplete="off" formControlName="task" placeholder="Task Detail" />
          </div>
           <div class="form-group col-md-1">
           	 <span class="btn btn-outline-success btn-sm ml-2 rounded-circle" (click)="showActivity($event,i)">
		      <i class="fa fa-eye" aria-hidden="true"></i>
		    </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="col-sm-6" *ngIf="activityMap">
    <!-- add field  to add new task -->
    <label>Task: {{selectedtask}}</label><br>
    <label>Activities:</label><br>
    <textarea rows="10" style=" width: 616px;margin-top: 7px;" formControlName="addActivity"></textarea>
    <button class="btn btn-outline-success btn-sm text-capitalize px-5" (click)="updateActivities()">Update Activities</button>
   
  </div>
  
  </div>

  <div class="text-right" *ngIf="activityMap">
    <button class="btn btn-outline-success btn-sm text-capitalize px-5" [disabled]="projectForm.invalid"
      (click)="addtask()">Save Tasks and Activities</button>
  </div>
</form>
</div>